body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.card-header {
  height: 4.5rem;
  font-size: 2rem;
}
.list-group-item {
  height: 3.5rem;
  font-size: 1.2rem;
}
.layout-button {
  display: inline-block;
  margin-left: 10px;
  background: transparent;
  cursor: pointer;
  padding: 4px;
  border: 1px solid;
  font-size: 10px;
  color: gray;
}
.layout-button i {
  display: inline-block;
  margin-left: 3px;
}
.layout-button i:nth-child(1) {
  margin: 0;
}
.card:hover {
  box-shadow: 0px 9px 12px 6px rgba(197, 197, 197, 0.74);
}

.chart {
  background-color: rgb(250, 250, 250);
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0px 9px 12px 6px rgba(197, 197, 197, 0.74);
}

.chart-delete-button {
  border: none;
  background-color: rgb(250, 250, 250);
  color: rgb(204, 51, 51);
  padding: 10px;
  border-radius: 5px;
  font-size: 1.2rem;
  transition: all 0.1s ease;
}
.chart-delete-button:hover {
  box-shadow: 0px 1px 2px 1px rgba(197, 197, 197, 0.74);
}
